includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes

    level: 6

    parallel:
        maximumNumberOfProcesses: 1

    tmpDir: storage/framework/cache/phpstan
